<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="error" xsi:type="File"
            layout="date:[${longdate}];message:[${message}];
            stack:[${stacktrace:format=DetailedFlat:topFrames=12}];"
            fileName="${basedir}/logs/${shortdate}.log"
            keepFileOpen="false"
            archiveAboveSize="250000"
            maxArchiveFiles="100000"
            archiveNumbering="Sequence" />
  </targets>
  <rules>
    <logger name="*" writeTo="error" />
  </rules>
</nlog>  